.section-aboutus {
    padding-top: 80px;
    padding-bottom: 80px;
}


.section-aboutus__heading {
    font-size: 48px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 30px;
}

.section-aboutus__desc {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    max-width: 1080px;
}


@media(max-width:660px) {
    .section-aboutus {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-aboutus__heading {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .section-aboutus__desc {
        font-size: 14px;
        line-height: 28px;
    }
}