.section-catalog {
    padding-top: 87px;
}

.section-catalog__up-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-catalog__heading {
    margin-right: 39px;
}

.section-catalog__list-tabs {
    display: flex;
    transform: translateY(5px);
}

.section-catalog__item-tabs:not(:last-child) {
    margin-right: 50px;
}

.section-catalog__item-tabs__btn {
    position: relative;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.section-catalog__item-tabs__btn:hover::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    box-shadow: 0 0 20px 0 rgba(157, 92, 208, 0.7);
    border-radius: 50%;
    z-index: -1;
}

.section-catalog__item-tabs__btn:focus::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(157, 92, 208, 0.7);
    z-index: -1;
}

.section-catalog__item-tabs__btn:active {
    box-shadow: 0 0 0 2px rgba(157, 92, 208, 0.7);
}

.section-catalog__item-tabs__btn:active.section-catalog__item-tabs__btn:focus::after {
    box-shadow: none;
}

.tabs-flag-active {
    box-shadow: 0 0 0 10px white, 0 0 0 12px rgba(121, 67, 164, 1);
}

.section-catalog__item-tabs__btn__france {
    background-image: url('../img/france.png');
}

.section-catalog__item-tabs__btn__germany {
    background-image: url('../img/germany.png');
}

.section-catalog__item-tabs__btn__italy {
    background-image: url('../img/italy.png');
}

.section-catalog__item-tabs__btn__russia {
    background-image: url('../img/russia.png');
}

.section-catalog__item-tabs__btn__belgium {
    background-image: url('../img/belgium.png');
}

.section-catalog__desc {
    max-width: 1080px;
    min-height: 128px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 39px;
}

.section-catalog__bottom-wrap {
    display: flex;
}

.painter {
    min-width: 46.5%;
    margin-right: 50px;
}

.painter__photo {
    margin-bottom: 30px;
    height: 470px;
    object-fit: cover;
}

.painter__title {
    font-size: 24px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 13px;
}

.painter__desc_years {
    font-size: 12px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 9px;
}

.painter__desc {
    max-width: 749px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.painter__link {
    font-size: 16px;
    font-weight: 600;
    color: rgba(157, 92, 208, 1);
    transition: color .2s ease;
}

.painter__link:focus {
    outline: none;
    background-color: rgba(157, 92, 208, 1);
    color: #fff;
}

.painter__link:hover {
    border-bottom: 1px solid rgba(157, 92, 208, 1);
}

.painter__link:active {
    background-color: transparent;
    color: rgba(121, 67, 164, 1);
    border-color: rgba(121, 67, 164, 1);
}

.section-catalog__item-accordeon__desc {
    padding: 35px 0 18px 0;
}

.section-catalog__item-accordeon__desc__simplebar {
    overflow-x: auto;
    max-height: 288px;
}

.section-catalog__item-accordeon__desc_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 288px;
}

.section-catalog__item-accordeon__desc_item {
    max-width: 206px;
    margin-bottom: 14px;
    margin-right: 14px;
}

.section-gallery__item-accordeon__desc__btn {
    text-align: left;
}

.section-catalog__list-accordeon {
    width: 100%;
}

.section-catalog__item-accordeon {
    transition: border-color .2s ease;
}

.section-catalog__item-accordeon:first-child {
    border-top: 1px solid rgba(202, 202, 202, 1);
}

.ui-accordion-content-active {
    border-top: 1px solid rgba(157, 92, 208, 1);
    border-bottom: 1px solid rgba(157, 92, 208, 1);
}

.section-catalog__item-accordeon__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    transition: all .2s ease;
}

.section-catalog__item-accordeon__btn__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(236, 236, 236, 1);
}

.section-catalog__item-accordeon__btn__icon__svg {
    margin-top: 20px;
}

.ui-accordion-header-icon {
    display: none;
}

.ui-state-active {
    border: none;
}

.ui-state-active>.section-catalog__item-accordeon__btn__icon {
    background-color: rgba(209, 169, 240, 1);
    box-shadow: 0 0 0 2px #9D5CD0 inset;
}

.ui-state-active>.section-catalog__item-accordeon__btn__icon {
    transform: rotate(180deg);
}

.section-catalog__item-accordeon__btn:focus .section-catalog__item-accordeon__btn__icon,
.section-catalog__item-accordeon__btn:hover .section-catalog__item-accordeon__btn__icon {
    background-color: rgba(209, 169, 240, 1);
}

.section-catalog__item-accordeon__btn:active .section-catalog__item-accordeon__btn__icon {
    box-shadow: 0 0 0 2px #9D5CD0 inset;
    transform: rotate(180deg);
}

.section-catalog__item-accordeon__btn:focus {
    outline: none;
    color: white;
}

.section-catalog__item-accordeon__btn:hover {
    color: rgba(157, 92, 208, 1);
    border-color: rgba(157, 92, 208, 1);
}

.section-catalog__item-accordeon__btn:focus .section-catalog__item-accordeon__btn__text {
    background-color: rgba(157, 92, 208, 1);
}

.section-catalog__item-accordeon__btn:hover .section-catalog__item-accordeon__btn__text {
    background-color: transparent;
}

.section-catalog__item-accordeon__btn:active .section-catalog__item-accordeon__btn__text {
    background-color: transparent;
}

.section-catalog__item-accordeon__btn:active {
    outline: none;
    color: rgba(121, 67, 164, 1);
    border-color: rgba(121, 67, 164, 1);
}

.section-catalog_item-accordeon__desc__unkown__img {
    width: 273px;
    min-height: 187px;
    background: rgba(183, 183, 183, 1);
    box-shadow: 0px 0px 0px 11px white inset;
    border: 2px solid rgba(183, 183, 183, 1);
}

.section-catalog__item-accordeon__desc_unkown {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.section-catalog__item-accordeon__desc_unkown__wrap {
    margin-left: 24px;
}

.section-catalog__item-accordeon__desc__btn {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    transition: color .2s ease;
}

.section-catalog__item-accordeon__desc__btn:hover {
    color: rgba(157, 92, 208, 1);
    box-shadow: 0 1px 0 0 rgba(121, 67, 164, 1);
}

.section-catalog__item-accordeon__desc__btn:focus {
    outline: none;
    color: white;
    background-color: rgba(157, 92, 208, 1);
}

.section-catalog__item-accordeon__desc__btn:active {
    background-color: transparent;
    color: rgba(121, 67, 164, 1);
    border: none;
}

.section-catalog__item-accordeon__desc_subtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 5px;
}

.section-catalog__item-accordeon__desc_unkown_desc {
    max-width: 275px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 5px;
}

.section-catalog__item-accordeon__desc__link {
    font-size: 16px;
    font-weight: 600;
    color: rgba(157, 92, 208, 1);
    transition: background .2s ease, color .2s ease;
}

.section-catalog__item-accordeon__desc__link:focus {
    outline: none;
    background-color: rgba(157, 92, 208, 1);
    color: rgba(255, 255, 255, 1);
}

.section-catalog__item-accordeon__desc__link:hover {
    color: rgba(157, 92, 208, 1);
    border-bottom: 1px solid rgba(157, 92, 208, 1);
}

.section-catalog__item-accordeon__desc__link:active {
    color: rgba(121, 67, 164, 1);
    border-bottom: 1px solid rgba(121, 67, 164, 1);
    background-color: transparent;
}

.lang {
    display: none;
}

.lang-active {
    display: block;
}

.tab-content,
.bel-tab-content, 
.ita-tab-content,
.ger-tab-content,
.fra-tab-content {
    display: none;
}

.tab-content-active,
.bel-tab-content-active,
.ita-tab-content-active,
.ger-tab-content-active,
.fra-tab-content-active {
    display: block;
}

.bel-tabs__btn__active,
.ita-tabs__btn__active,
.ger-tabs__btn__active,
.fra-tabs__btn__active,
.tabs__btn__active {
    color: rgba(121, 67, 164, 1);
}

