.section-contacts__content {
    position: relative;
    padding-top: 118px;
    padding-bottom: 124px;
    border-top: 1px solid #CACACA;
}

.section-contacts__heading {
    margin-bottom: 30px;
}

.section-contacts__name-market {
    max-width: 256px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
    color: rgba(51, 51, 51, 1);
}

.section-contacts__adress {
    max-width: 256px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #333333;
}

.map {
    position: absolute;
    top: -1px;
    right: 0;
    border-left: 1px solid #CACACA;
    width: 64.5%;
    height: 100%;
    z-index: 2;
}

[class*="ground-pane"] {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.section-contacts__form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 40px;
}

.section-contacts__form__title {
    font-size: 24px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 19px;
}

.section-contacts__form__input {
    cursor: pointer;
    width: 100%;
    outline: none;
    padding: 10px 0 10px 24px;
    border: 1px solid #333333;
    border-radius: 100px;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
}

.section-contacts__form__input:hover, .section-contacts__form__input:focus {
    background: rgba(234, 234, 234, 1);
}

.section-form__input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.section-form__input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.section-form__input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.section-form__input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.section-form__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.section-contacts__form__btn {
    max-width: 157px;
    padding: 17px 35px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    color: rgba(157, 92, 208, 1);
}

.section-contacts__form__btn:hover {
    background-color: rgba(157, 92, 208, 1);
    color: rgba(255, 255, 255, 1);
}

.section-contacts__form__btn:focus {
    outline: none;
    border: 4px double #9D5CD0;
}

.section-contacts__form__btn:active {
    background-color: rgba(121, 67, 164, 1);
    color: #fff;
    border: 2px solid #D1A9F0;
    box-shadow: 0 0 0 1px #D1A9F0 inset;
}

.section-contacts__title {
    max-width: 370px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 18px;
}

.section-contacts__social-list {
    display: flex;
}

.section-contacts__social-items {
    margin-right: 21px;
}

.section-contacts-social {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-contacts-social:focus, .section-contacts-social:hover {
    outline: none;
    opacity: .5;
}

.section-contacts-social:active {
    border: 1px solid var(--purple);
    opacity: 1;
}

.whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.telegram {
    background-image: url('../img/telegram.svg');
}