.section-editions {
    padding-top: 85px;
    padding-bottom: 80px;
    background-image: url('../img/editions.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-editions__container {
    display: flex;
    justify-content: space-between;
}

.section-editions__heading {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.section-editions__category-checkbox-list {
    max-width: 265px;
    margin-bottom: 40px;
}

.section-editions__category-checkbox-list__title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.section-editions__category-checbox-item {
    margin-bottom: 14px;
}

.section-editions__category__label {
    position: relative;
    cursor: pointer;
    padding-left: 24px;
}

.section-editions__category__label::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-editions__category-checbox__input {
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden; 
}

.section-editions__category-checbox__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    bottom: 20%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
}

.section-editions__category-checbox__text {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.section-editions__category-checbox__icon::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/edition-check.svg');
    background-position: center center;
    display: none;
}

.section-editions__category-checbox__input:checked+.section-editions__category-checbox__icon::before {
    display: block;
}

.section-editions__category-checbox__input:checked+.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:checked~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:focus~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:focus~.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:hover~.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:hover~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__price__title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}

.section-editions__price__form {
    width: 277px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.section-editions__price__form__desc {
    width: 40px;
    padding-left: 10px;
    padding-right: 5px;
}

.section-editions__price__form__desc_to {
    padding-right: 7px;
    padding-left: 7px;
}

.section-editions__price__form__desc_rub {
    padding-left: 7px;
}

.section-editions__price__input {
    cursor: pointer;
    max-width: 73px;
    height: 100%;
    border: none;
    background: rgba(157, 92, 208, 0.5);
    outline: none;
    color: rgba(255, 255, 255, 1);
    transition: background .2s ease;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.section-editions__price__input:focus {
    background-color: rgba(157, 92, 208, 1);
    outline: 1px solid rgba(255, 255, 255, 1);
}

.section-editions__price__input:hover {
    background-color: rgba(157, 92, 208, 1);
    outline: none;
}

.section-editions__price__input:active {
    background-color: rgba(121, 67, 164, 1);
    outline: none;
}

.section-editions__price__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    background: none;
}

.section-editions__price__input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    background: 0;
}

.section-editions__price__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__panigation-box {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 30px;
    margin-bottom: 31px;
}

.section-editions__swiper-pagination {
    position: static;
    width: 33px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.edition__slider__btn {
    cursor: pointer;
    position: static;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgba(102, 102, 102, 1);
    transition: background .2s ease;
}

.edition__slider__btn__icon-prev {
    transform: rotate(180deg);
}

.edition__slider__btn:hover  {
    background-color: rgba(157, 92, 208, 1);
}

.edition__slider__btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px black inset;
}

.edition__slider__btn:active {
    box-shadow: 0 0 0 2px black inset;
    background-color: rgba(121, 67, 164, 1);
}

.section-editions__swiper-button-prev.swiper-button-disabled,
.section-editions__swiper-button-next.swiper-button-disabled {
    opacity: .5;
}

.section-editions__swiper-box {
    position: relative;
    width: 72%;
    height: 100%;
    padding-top: 30px;
}

.section-editions__swiper-container {
    max-width: 1164px;
    height: 100%;
}

.edition {
    width: 100%;
}

.edition__title {
    max-width: 239px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
}

.edition__price {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: auto;
}

.edition__img {
    margin-bottom: 23px;
}

.edition__desc {
    display: flex;
    position: relative;
}

.edition__author {
    max-width: 239px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 17px;
}

.edition__btn {
    position: relative;
    padding: 8px 19px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    transition: color .2s ease;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: 7px;
}

.edition__btn:focus::after {
    position: absolute;
    content: '';
    top: -7px;
    bottom: -7px;
    right: -7px;
    left: -7px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    z-index: -1;
}

.edition__btn:hover {
    background-color: rgba(157, 92, 208, 1);
    color: rgba(255, 255, 255, 1);
}

.edition__btn:hover.edition__btn:focus::after {
    border: 0;
}

.edition__btn:active {
    background-color: rgba(121, 67, 164, 1);
    color: #fff;
    border: 2px solid #D1A9F0;
    box-shadow: 0 0 0 1px #D1A9F0 inset;
}

.edition__btn:active.edition__btn:focus::after {
    border: 0;
}

.section-edition__right-wrap__mob-list {
    display: none;
}