.section-editions {
    padding-top: 85px;
    padding-bottom: 80px;
    background-image: url('../img/editions.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-editions__container {
    display: flex;
    justify-content: space-between;
}

.section-editions__heading {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.section-editions__category-checkbox-list {
    max-width: 265px;
    margin-bottom: 40px;
}

.section-editions__category-checkbox-list__title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.section-editions__category-checbox-item {
    margin-bottom: 14px;
}

.section-editions__category__label {
    position: relative;
    cursor: pointer;
    padding-left: 24px;
}

.section-editions__category-checbox__input {
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden; 
}

/* .section-editions__category-checbox__input:checked + .section-editions__category__label {
    color: red;
} */

.section-editions__category-checbox__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    bottom: 20%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
}

.section-editions__category-checbox__text {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.section-editions__category-checbox__icon::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/edition-check.svg');
    background-position: center center;
    display: none;
}

.section-editions__category-checbox__input:checked+.section-editions__category-checbox__icon::before {
    display: block;
}

.section-editions__category-checbox__input:checked+.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:checked~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:focus~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:focus~.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:hover~.section-editions__category-checbox__icon {
    border-color: rgba(194, 131, 243, 1);
}

.section-editions__category-checbox__input:hover~.section-editions__category-checbox__text {
    color: rgba(194, 131, 243, 1);
}

.section-editions__price__title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}

.section-editions__price__form {
    width: 277px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.section-editions__price__form__desc {
    width: 40px;
    padding-left: 10px;
    padding-right: 5px;
}

.section-editions__price__form__desc_to {
    padding-right: 7px;
    padding-left: 7px;
}

.section-editions__price__form__desc_rub {
    padding-left: 7px;
}

.section-editions__price__input {
    cursor: pointer;
    max-width: 73px;
    height: 100%;
    border: none;
    background: rgba(157, 92, 208, 0.5);
    outline: none;
    color: rgba(255, 255, 255, 1);
    transition: background .2s ease;
}

.section-editions__price__input:hover, .section-editions__price__input:focus {
    background-color: rgba(157, 92, 208, 1);
}

.section-editions__price__input:active {
    background-color: rgba(121, 67, 164, 1);
}

.section-editions__price__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__price__input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.section-editions__panigation-box {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 30px;
    margin-bottom: 31px;
}

.section-editions__swiper-pagination {
    position: static;
    width: 33px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.section-editions__swiper-button-prev {
    cursor: pointer;
    position: static;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.section-editions__swiper-button-prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%239D5CD0'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
}

.section-editions__swiper-button-prev:focus {
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
    box-shadow: 0 0 0 2px black inset;
}

.section-editions__swiper-button-prev:active {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='rgba(121, 67, 164, 1)'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='black'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A");
    box-shadow: 0 0 0 2px black inset;
}

.section-editions__swiper-button-prev.swiper-button-disabled {
    opacity: .5;
}

.section-editions__swiper-button-next {
    cursor: pointer;
    position: static;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='black'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E ");
}

.section-editions__swiper-button-next:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='black'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A");
    outline: none;
    box-shadow: 0 0 0 2px black inset;
}

.section-editions__swiper-button-next:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15' cy='15' rx='15' ry='15' transform='rotate(-90 15 15)' fill='%239D5CD0'/%3E%3Cpath d='M14 10L19 15L14 20' stroke='white'/%3E%3C/svg%3E ");
}

.section-editions__swiper-button-next:active {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1C22.732 1 29 7.26801 29 15C29 22.732 22.732 29 15 29C7.26801 29 1 22.732 1 15C1 7.26801 7.26802 0.999999 15 1Z' fill='%237943A4' stroke='%23D1A9F0' stroke-width='2'/%3E%3Cpath d='M14 10L19 15L14 20' stroke='white'/%3E%3C/svg%3E ");
    box-shadow: 0 0 0 2px black inset;
}

.section-editions__swiper-button-next.swiper-button-disabled {
    opacity: .5;
}

.section-editions__swiper-box {
    position: relative;
    width: 72%;
    height: 100%;
    padding-top: 30px;
}

.section-editions__swiper-container {
    max-width: 1150px;
    height: 100%;
}

.edition {
    width: 100%;
}

.edition__title {
    max-width: 239px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
}

.edition__price {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: auto;
}

.edition__img {
    margin-bottom: 23px;
}

.edition__desc {
    display: flex;
    position: relative;
}

.edition__author {
    max-width: 239px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 17px;
}

.edition__btn {
    padding: 8px 19px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    transition: color .2s ease;
}

.edition__btn:focus {
    outline: none;
    border: 4px double #9D5CD0;
}

.edition__btn:hover {
    background-color: rgba(157, 92, 208, 1);
    color: rgba(255, 255, 255, 1);
}

.edition__btn:active {
    background-color: rgba(121, 67, 164, 1);
    color: #fff;
    border: 2px solid #D1A9F0;
    box-shadow: 0 0 0 1px #D1A9F0 inset;
}

.section-edition__right-wrap__mob-list {
    display: none;
}