.footer {
    background: rgba(0, 0, 0, 1);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.footer__logo-link {
    width: 173px;
    height: 40px;
}

.footer__logo-link:focus {
    outline: 1px solid var(--purple);
}

.footer__social-list {
    display: flex;
}

.footer__social-item:not(:last-child) {
    margin-right: 20px;
}

.footer__social-link {
    display: inline-block;
    width: 45px;
    height: 45px;
    transition: all .2s ease;
}

.footer__social-link:hover .social-link__icon path,
.footer__social-link:focus .social-link__icon path {
    fill: rgba(255, 255, 255, 1);
}

.footer__social-link:active .social-link__icon path {
    fill: rgba(157, 92, 208, 1);
}