.header {
  position: relative;
}

.header__up {
  background: rgba(0, 0, 0, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
}

.logo__link {
  margin-right: 11%;
  height: 40px;
}

.logo__link:focus {
  outline: 1px solid var(--purple);
}

.header__nav__list {
  display: flex;
}

.header__nav__item:not(:last-child) {
  margin-right: 3.3vw;
}

.header__nav__link {
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
}

.header__nav__link:hover {
  color: rgba(194, 131, 243, 1);
}

.header__nav__link:focus {
  background-color: rgba(121, 67, 164, 1);
  outline: none;
}

.header__nav__link:active {
  background-color: transparent;
  color: rgba(121, 67, 164, 1);
  outline: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding-left: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.62056 9.09278L6.63889 10.1111L10.25 6.5L6.63889 2.88889L5.62056 3.90722L7.48389 5.77778H0.5V7.22222H7.48389L5.62056 9.09278ZM12.0556 0H1.94444C1.14278 0 0.5 0.65 0.5 1.44444V4.33333H1.94444V1.44444H12.0556V11.5556H1.94444V8.66667H0.5V11.5556C0.5 12.35 1.14278 13 1.94444 13H12.0556C12.85 13 13.5 12.35 13.5 11.5556V1.44444C13.5 0.65 12.85 0 12.0556 0Z' fill='white'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: left;
  margin-left: auto;
  transition: color .2s ease, background-image .2s ease;
}

.header__link:hover {
  color: rgba(194, 131, 243, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.header__link:focus {
  background-color: rgba(121, 67, 164, 1);
  outline: none;
}

.header__link:active {
  color: rgba(157, 92, 208, 1);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%239D5CD0'/%3E%3C/svg%3E ");
}

.header__btn__search {
  display: none;
}

.header__burger-btn {
  display: none;
}

.header__nav__item__come {
  display: none;
}

.closing-cross-burger {
  display: none;
}

.header__form {
  display: none;
  height: 36px;
}

.header__nav-bottom {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 40;
}

.header__nav-bottom__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1703px;
  height: 70px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right:  50px;
}

.header__nav-bottom__list {
  display: flex;
}

.header__nav-bottom__item:not(:last-child) {
  margin-right: 5.1vw;
}

.header__nav-bottom__item {
  position: relative;
}

.header__nav-bottom__item__btn {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  transition: all .2s ease;
}

.header__nav-bottom__item__btn:focus {
  background-color: rgba(157, 92, 208, 1);
  color: #fff;
  outline: none;
}

.header__nav-bottom__item__btn__icon {
  transition: all .2s ease;
  margin-bottom: 1px;
}

.header__nav-bottom__item__btn__icon path {
  transition: all .2s ease;
}

.header__nav-bottom__item__btn:hover .header__nav-bottom__item__btn__icon path {
  stroke: rgba(157, 92, 208, 1);
}

.header__nav-bottom__item__btn:active .header__nav-bottom__item__btn__icon {
  transform: rotate(180deg);
}

.header__nav-bottom__item__btn:active .header__nav-bottom__item__btn__icon path {
  color: rgba(121, 67, 164, 1);
}

.header__nav-bottom__item__btn:hover {
  background-color: transparent;
  color: rgba(157, 92, 208, 1);
}

.header__nav-bottom__item__btn:active {
  background-color: transparent;
  color: rgba(121, 67, 164, 1);
}

.header__nav-bottom__form {
  transition: background .2s ease, border .2s ease;
  margin-left: auto;
}

.header__nav-bottom__form__btn {
  width: 22px;
  height: 22px;
  transform: translateY(8px);
  margin-right: 9px;
  transition: color .2s ease;
}

.header__nav-bottom__form__btn:focus {
  outline: none;
}

.header__nav-bottom__form__input {
  width: 218px;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  padding-bottom: 5px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  transition: color .2s ease;
  cursor: pointer;
}

.header__nav-bottom__form__input:focus {
  outline: none;
  border-color: rgba(194, 131, 243, 1);
}

.header__nav-bottom__form__input:hover {
  border-color: rgba(194, 131, 243, 1)
}

.header__nav-bottom__form__input:active {
  border-color: rgba(121, 67, 164, 1);
}

.header__nav-bottom__form__input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.header__nav-bottom__form__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.header__nav-bottom__form__input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.header__nav-bottom__form__input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.header__nav-bottom__form__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.header__nav-bottom__sub-menu__list {
  position: absolute;
  display: none;
  width: 300px;
  height: 300px;
  margin-top: 45px;
  top: 0;
  left: 0;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.header__nav-bottom__sub-menu__list.sub-menu-active {
  display: block;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: rgba(0, 0, 0, 1);
}

.simplebar-scrollbar {
  width: 2px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}

.header__nav-bottom__sub-menu__item {
  position: relative;
  width: 220px;
  height: 40px;
  padding: 9px 0 12px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.header__nav-bottom__sub-menu__item_tintoretto {
  background-image: url('../img/header-tintorento.png');
}

.header__nav-bottom__sub-menu__item_phridrih {
  background-image: url('../img/header-phridrih.png');
}

.header__nav-bottom__sub-menu__item_leonardo {
  background-image: url('../img/header-leonardo.png');
}

.header__nav-bottom__sub-menu__item_verokko {
  background-image: url('../img/header-verokko.png');
}

.header__nav-bottom__sub-menu__item_mone {
  background-image: url('../img/header-mone.png');
}

.header__nav-bottom__sub-menu__item_sisley {
  background-image: url('../img/header-sisley.png');
}

.header__nav-bottom__sub-menu__item_mane {
  background-image: url('../img/header-mane.png');
}

.header__nav-bottom__sub-menu__item_renuar {
  background-image: url('../img/header-renuar.png');
}

.header__nav-bottom__sub-menu__item_vangog {
  background-image: url('../img/header-vangog.png');
}

.header__nav-bottom__sub-menu__item_sesann {
  background-image: url('../img/header-sesann.png');
}

.header__nav-bottom__sub-menu__item_gogen {
  background-image: url('../img/header-gogen.png');
}

.header__nav-bottom__sub-menu__item_sera {
  background-image: url('../img/header-sera.png');
}

.header__nav-bottom__sub-menu__item_kadinskiy {
  background-image: url('../img/header-kadinskiy.png');
}

.header__nav-bottom__sub-menu__item_marinetti {
  background-image: url('../img/header-marinetti.png');
}

.header__nav-bottom__sub-menu__item_malevich {
  background-image: url('../img/header-malevich.png');
}

.header__nav-bottom__sub-menu__item_picasso {
  background-image: url('../img/header-picasso.png');
}

.header__nav-bottom__sub-menu__item_karra {
  background-image: url('../img/header-kara.png');
}

.header__nav-bottom__sub-menu__item_pratella {
  background-image: url('../img/header-pratella.png');
}

.header__nav-bottom__sub-menu__item_severini {
  background-image: url('../img/header-severini.png');
}

.header__nav-bottom__sub-menu__item_bala {
  background-image: url('../img/header-balapng.png');
}

.header__nav-bottom__sub-menu__item__link {
  color: rgba(255, 255, 255, 1);
}

.header__nav-bottom__sub-menu__item__link:focus {
  outline: none;
}

.header__nav-bottom__sub-menu__item__link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header__nav-bottom__sub-menu__item__link:hover.header__nav-bottom__sub-menu__item__link::before, .header__nav-bottom__sub-menu__item__link:focus.header__nav-bottom__sub-menu__item__link::before {
  outline: 2px solid #9D5CD0;
}

.header__nav-bottom__sub-menu__item__link:active.header__nav-bottom__sub-menu__item__link::before {
  outline: 2px solid #D1A9F0;
  background: rgba(194, 131, 243, 0.4);
}

.header__nav-bottom__sub-menu__item:not(:last-child) {
  margin-bottom: 20px;
}