.section-hero {
  position: relative;
  overflow: hidden;
}

.section-hero::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/hero.png');
  background-size: cover;
  z-index: -1;
  -webkit-animation: anim 14s linear infinite;
          animation: anim 14s linear infinite;
}

@-webkit-keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.section-hero__content {
  padding: 140px 0 128px 0;
}

.sectiom-hero__content__heading {
  max-width: 597px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 82px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.section-hero__content__desc {
  max-width: 579px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 95px;
}

.section-hero__content__btn {
  display: inline-block;
  padding: 22px 35px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 92, 208, 1);
  transition: border .2s ease, box-shadow .2s ease;
}

.section-hero__content__btn:hover {
  box-shadow: inset 0 0 0 2px #D1A9F0;
}

.section-hero__content__btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px white,
              0 0 0 2px #C283F3;
}

.section-hero__content__btn:active {
  background: rgba(121, 67, 164, 1);
  box-shadow: none;
}

@media(max-width: 1366px) {
  .section-hero__content {
    padding: 113px 0 114px 0;
  }
  .sectiom-hero__content__heading {
    max-width: 585px;
    margin-bottom: 13px;
  }
  .section-hero__content__desc {
    max-width: 661px;
    margin-bottom: 139px;
  }
}

@media(max-width: 660px) {
  .section-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 45px 0;
  }
  .sectiom-hero__content__heading {
    max-width: 258px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .section-hero__content__desc {
    max-width: 275px;
    margin-bottom: 44px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .section-hero__content__btn {
    font-size: 12px;
    padding: 11px 16px;
  }
}