.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #fff;
    z-index: 50;
    pointer-events: none;
}

.modal.show {
    display: block;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

.modal-dialog {
    max-width: 900px;
    height: 500px;
    margin: 50px auto;
}

.modal__content {
    display: flex;
    height: 100%;
    background: #fff;
    background-clip: padding-box;
}

.modal__content__wrap {
    width: 500px;
    position: relative;
    padding: 122px 50px 121px 48px;
    color: rgba(51, 51, 51, 1);
}

.modal__btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 20px;
    background-image: url('../img/modal-close.svg');
    z-index: 40;
}

.modal__btn:hover, .modal__btn:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='rgba(157, 92, 208, 1)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='rgba(157, 92, 208, 1)'/%3E%3C/svg%3E%0A");
}

.modal__btn:active {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='rgba(121, 67, 164, 1)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='rgba(121, 67, 164, 1)'/%3E%3C/svg%3E%0A");
}

.modal__img {
    max-width: 400px;
    height: 100%;
}

.modal__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 9px;
}

.modal__date {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 41px;
    color: rgba(150, 150, 150, 1);
}

.modal__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}