.section-projects {
    padding-top: 85px;
    padding-bottom: 85px;
}

.section-projects__heading {
    margin-bottom: 20px;
}

.section-projects__desc {
    max-width: 1085px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 23px;
}

.section-pojects__desc__icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: translateY(4px);
}

.section-pojects__desc__icon:hover .projects__tooltip__svg,
.section-pojects__desc__icon:focus .projects__tooltip__svg {
    fill: rgba(209, 169, 240, 1);
}

.section-pojects__desc__icon:active .projects__tooltip__svg {
    fill: rgba(157, 92, 208, 1)
}

.tippy-box {
    text-align: center;
    border-radius: 0;
    background-color: rgba(157, 92, 208, 1);
}

.tippy-content {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.tippy-arrow {
    color: rgba(157, 92, 208, 1);
}

.section-projects__desc__link {
    color: var(--purple);
    transition: color .2s ease;
}

.section-projects__desc__link:focus {
    outline: none;
    color: white;
    background-color: var(--purple);
}

.section-projects__desc__link:hover {
    border-bottom: 1px solid var(--purple);
}

.section-projects__desc__link:active {
    background-color: transparent;
    color: rgba(121, 67, 164, 1);
    border-bottom: 1px solid rgba(121, 67, 164, 1);
}

.section-projects__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 23px;
}

.section-projects__swiper-box {
    position: relative;
    padding-left: 75px;
    padding-right: 75px;
}

.section-projects__swiper {
    max-width: 1450px;
    ;
    height: 150px;
}

.section-projects__slide-wrap {
    max-width: 100%;
    height: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(202, 202, 202, 1) inset;
}

.section-projects__slide-img {
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
}

.section-projects__slide-wrap:hover>.section-projects__slide-img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.section-projects__slide-wrap:focus {
    box-shadow: 0 0 0 1px #9D5CD0 inset;
}

.section-projects__slide-wrap:active {
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 0 0 1px #9D5CD0 inset;
}

.projects-workhouse {
    width: 229px;
    height: 53px;
}

.projects-freelands {
    width: 244px;
    height: 63px;
}

.projects-institute {
    width: 73.33333%;
    height: 59px;
}

.projects-1849 {
    width: 123px;
    height: 85px;
}

.projects-camden {
    width: 252px;
    height: 70px;
}

.projects-watts {
    width: 185px;
    height: 81px;
}

.projects-hiscox {
    width: 173px;
    height: 85px;
}

.projects-stassen {
    width: 63.55555%;
    height: 69px;
}

.projects-esad {
    width: 229px;
    height: 62px;
}

.projects__slider__btn {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(236, 236, 236, 1);
    border-radius: 100px;
    transition: all .2s ease;
}

.section-projects-button-prev {
    left: 0;
    bottom: 40%;
    transform: rotate(180deg);
}

.section-projects-button-next {
    right: 0;
    bottom: 40%;
}

.projects__slider__btn:focus {
    outline: none;
    border: 2px solid #9D5CD0;
}

.projects__slider__btn:hover {
    background-color: rgba(209, 169, 240, 1);

}

.projects__slider__btn:active {
    background-color: rgba(209, 169, 240, 1);
}

.section-projects-button-prev.swiper-button-disabled,
.section-projects-button-next.swiper-button-disabled {
    opacity: .5;
}



