.section-projects {
    padding-top: 85px;
    padding-bottom: 85px;
}

.section-projects__heading {
    margin-bottom: 20px;
}

.section-projects__desc {
    max-width: 1085px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 23px;
}

.section-pojects__desc__icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='black'/%3E%3C/svg%3E ");
    transform: translateY(4px);
}

.section-pojects__desc__icon:hover,
.section-pojects__desc__icon:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' fill='%23D1A9F0' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='black'/%3E%3C/svg%3E ");
}

.section-pojects__desc__icon:active {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z' fill='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='white'/%3E%3C/svg%3E ");
}

.tippy-box {
    text-align: center;
    border-radius: 0;
    background-color: rgba(157, 92, 208, 1);
}

.tippy-content {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.tippy-arrow {
    color: rgba(157, 92, 208, 1);
}

.section-projects__desc__link {
    color: var(--purple);
    transition: color .2s ease;
}

.section-projects__desc__link:focus {
    outline: none;
    color: white;
    background-color: var(--purple);
}

.section-projects__desc__link:hover {
    border-bottom: 1px solid var(--purple);
}

.section-projects__desc__link:active {
    background-color: transparent;
    color: rgba(121, 67, 164, 1);
    border-bottom: 1px solid rgba(121, 67, 164, 1);
}

.section-projects__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 23px;
}

.section-projects__swiper-box {
    position: relative;
    padding-left: 75px;
    padding-right: 75px;
}

.section-projects__swiper {
    max-width: 1450px;;
    height: 150px;
}

.section-projects__slide-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 450px;
    height: 150px;
    box-shadow: 0 0 0 1px rgba(202, 202, 202, 1) inset;
}

.section-projects__slide-img {
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
}

.section-projects__slide-wrap:hover>.section-projects__slide-img {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
}

.section-projects__slide-wrap:focus {
    box-shadow: 0 0 0 1px #9D5CD0 inset;
}

.section-projects__slide-wrap:active {
    -webkit-filter: none;
            filter: none;
    box-shadow: 0 0 0 1px #9D5CD0 inset;
}

.projects-workhouse {
    width: 229px;
    height: 53px;
}

.projects-freelands {
    width: 244px;
    height: 63px;
}

.projects-institute {
    width: 330px;
    height: 59px;
}

.projects-1849 {
    width: 123px;
    height: 85px;
}

.projects-camden {
    width: 252px;
    height: 70px;
}

.projects-watts {
    width: 185px;
    height: 81px;
}

.projects-hiscox {
    width: 173px;
    height: 85px;
}

.projects-stassen {
    width: 286px;
    height: 69px;
}

.projects-esad {
    width: 229px;
    height: 62px;
}

.section-projects-button-prev {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom: 40%;
    background-image: url('../img/projects-prev.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

.section-projects-button-prev:focus {
    outline: none;
    border: 2px solid #9D5CD0;
}

.section-projects-button-prev:hover {
    background-image: url('../img/projects-prev-hover.png');
}

.section-projects-button-prev:active {
    background-image: url('../img/projects-prev-active.png');
}

.section-projects-button-prev.swiper-button-disabled {
    opacity: .5;
}

.section-projects-button-next {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 40%;
    background-image: url('../img/projects-next.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    z-index: 50;
}

.section-projects-button-next:focus {
    outline: none;
    border: 2px solid #9D5CD0;
}

.section-projects-button-next:hover {
    background-image: url('../img/projects-next-hover.png');
}

.section-projects-button-next:active {
    background-image: url('../img/projects-next-active.png');
}

.section-projects-button-next.swiper-button-disabled {
    opacity: .5;
}

@media(max-width:1900px) {
    .section-projects__swiper-box {
        padding-right: 53px;
        padding-left: 53px;
    }
    .section-projects__swiper {
        max-width: 950px;;
    }
}

@media(max-width:1205px) {
    .section-projects {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .section-projects__container {
        padding-right: 0;
    }
    .section-projects__heading {
        margin-bottom: 25px;
    }
    .section-projects__desc {
        margin-bottom: 20px;
    }
    .section-projects__swiper {
        max-width: 818px;
        height: 128px;
    }
    .section-projects__slide-wrap {
        width: 384px;
        height: 128px;
    }
    .projects-workhouse {
        width: 229px;
        height: 54px;
    }
        .projects-freelands {
        width: 210px;
        height: 52px;
    }
        .projects-institute {
        width: 283px;
        height: 49px;
    }
        .projects-1849 {
        width: 105px;
        height: 72px;
    }
        .projects-camden {
        width: 215px;
        height: 60px;
    }
        .projects-watts {
        width: 158px;
        height: 69px;
    }
        .projects-hiscox {
        width: 148px;
        height: 73px;
    }
        .projects-stassen {
        width: 244px;
        height: 59px;
    }
        .projects-esad {
        width: 196px;
        height: 53px;
    }
}

@media(max-width:1010px) {
    .section-projects {
        padding-top: 80px;
    }
    .section-projects__container {
        padding-right: 49px;
    }
    .section-projects__heading {
        margin-bottom: 25px;
    }
    .section-projects__desc {
        max-width: 668px;
        margin-bottom: 25px;
    }
    .section-projects__swiper {
        max-width: 562px;
        height: 106px;
    }
    .section-projects__slide-wrap {
        width: 264px;
        height: 106px;
    }
    .projects-workhouse {
        width: 195px;
        height: 45px;
    }
        .projects-freelands {
        width: 210px;
        height: 52px;
    }
        .projects-institute {
        width: 217px;
        height: 38px;
    }
        .projects-1849 {
        width: 105px;
        height: 72px;
    }
        .projects-camden {
        width: 176px;
        height: 48px;
    }
        .projects-watts {
        width: 143px;
        height: 62px;
    }
        .projects-hiscox {
        width: 121px;
        height: 59px;
    }
        .projects-stassen {
        width: 194px;
        height: 47px;
    }
        .projects-esad {
        width: 182px;
        height: 49px;
    }
    .section-projects__subtitle {
        margin-bottom: 35px;
    }
}

@media(max-width:750px) {
    .section-projects__swiper {
        max-width: 424px;
        height: 65px;
    }
    .section-projects__slide-wrap {
        width: 195px;
        height: 65px;
    }
    .projects-workhouse {
        width: 117px;
        height: 27px;
    }
        .projects-freelands {
        width: 105px;
        height: 26px;
    }
        .projects-institute {
        width: 141px;
        height: 24px;
    }
        .projects-1849 {
        width: 53px;
        height: 37px;
    }
        .projects-camden {
        width: 109px;
        height: 30px;
    }
        .projects-watts {
        width: 80px;
        height: 35px;
    }
        .projects-hiscox {
        width: 75px;
        height: 37px;
    }
        .projects-stassen {
        width: 124px;
        height: 30px;
    }
        .projects-esad {
        width: 99px;
        height: 27px;
    }
}

@media(max-width:540px) {
    .section-projects {
        padding-top: 50px;
        padding-bottom: 45px;
    }
    .section-projects__container {
        padding-right: 15px;
    }
    .section-projects__heading {
        margin-bottom: 15px;
    }
    .section-projects__desc {
        max-width: 289px;
        margin-bottom: 16px;
    }
    .section-projects__subtitle {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .section-projects__swiper-box {
        padding-right: 45px;
        padding-left: 45px;
    }
    .section-projects__swiper {
        max-width: 195px;
    }
    .section-projects-button-prev {
        bottom: 30%;
    }
    .section-projects-button-next {
        bottom: 30%;
    }
}